.list-person {
  .swiper {
    .swiper-wrapper {
      margin-left: 160px;
      align-items: center;

      @media screen and (max-width: 480px) {

        margin-left: 0;

      }
      
      @media screen and (max-width: 768px) {

        margin-left: 100px;
        
      }
      .swiper-slide {
        transition: all 0.3s ease-in-out;
        opacity: 0 !important;

        .card {
          transition: all 0.3s ease-in-out;
          opacity: 0 !important;
        }
      }

      .swiper-slide-active,
      .swiper-slide-prev,
      .swiper-slide-next {
        opacity: 1 !important;

        .card {
          opacity: 1 !important;
        }
      }
    }
  }
}

.list-chart {
  .swiper {
    height: 700px;

    @media screen and (max-width: 480px) {
      height: 100%;

    }

    .swiper-wrapper {
      margin-top: 20px;
      margin-left: 64px;
      align-items: center;

      @media screen and (max-width: 768px) {

        margin-left: 0;

      }


      .swiper-slide {
        transition: all 0.5s ease-in-out;
        transform: scale(0.6);
        opacity: 0 !important;
      }

      .swiper-slide-active {
        transform: scale(1);
        opacity: 1 !important;


      }

      .swiper-slide-next {
        opacity: 1 !important;

        &+.swiper-slide {
          margin-left: -150px;
          opacity: 1 !important;

          @media screen and (max-width: 768px) {

            margin-left: 0;

          }
        }
      }
    }
  }
}

.list-chart-order {
  .swiper {
    height: 650px;

    .swiper-wrapper {
      margin-top: 40px;
      margin-left: -30px;
      align-items: center;

      @media screen and (max-width: 768px) {

        margin-left: 0;

      }

      .swiper-slide {
        transition: all 0.5s ease-in-out;
        transform: scale(0.685);
        opacity: 0 !important;
      }

      .swiper-slide-active {
        opacity: 1 !important;

        @media screen and (max-width: 480px) {

          margin-left: -50px;

        }
      }

      .swiper-slide-next {
        transform: scale(1);
        opacity: 1 !important;
        margin-bottom: 0px !important;

        &+.swiper-slide {
          margin-left: 20px;
          opacity: 1 !important;
        }
      }
    }
  }
}